.container{
    display: grid;
    border-radius: 1rem;
    flex-wrap: wrap ;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 2rem ;
    padding-right: 2rem;
    background-color: transparent;
    font-weight: 800;
    margin-bottom: 2rem;
}

.containerDiv{
    display: grid;
    border-radius: 1rem;
    flex-wrap: wrap ;
    gap: 1rem;
    grid-template-columns: 1fr 1fr ;
    padding-left: 2rem ;
    padding-right: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}


